{% extends 'layout.twig' %}

{% block style %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/assets/flags/flags.css">	
{% endblock %}

{% block content %}	
	<div class="col-md-6 col-md-offset-3">
		<h1 class="center">Jogos da Copa 2014</h1>
		<p class="lead center">Deixe aqui seu palpite!</p>		
		<table class="placar">
		{% for jogo in jogos %}
			{% if jogo.pula %}								
			<tr class="data-jogo">
				<td colspan="7" class="center">{{ jogo.data }}</td>
			</tr>			
			{% endif %}
			<tr>									
				<td class="time-casa time-nome">{{ jogo.time_casa.nome }}</td>
				<td class="bandeira"><img class="flag flag-{{ jogo.time_casa.code }}" alt="{{ jogo.time_casa.nome }}" /></td>
				<td><input name="palpite-casa" maxlength="2" /></td>		
				<td>{{jogo.hora}}</td>
				<td><input name="palpite-visitante" maxlength="2" /></td>			
				<td><img class="flag flag-{{ jogo.time_visitante.code }}" alt="{{ jogo.time_visitante.nome }}" /></td>
				<td class="time-visitante time-nome">{{ jogo.time_visitante.nome }}</td>					
			</tr>		
		{% endfor %}
		</table>
	</div>	
{% endblock %}